<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Nazwa </th>
        <th> Typ </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${products.name}"> Title </span></td>
        <td><span th:text="#{} + ${products.name}"> Author </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>